@{
    ViewBag.Title ="Home";
}
<h1>Welcome to Pawels Sweets Store Demo</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Product" asp-action="List" class="list-group-item">View our products</a>
            <a asp-controller="Home" asp-action="About" class="list-group-item">About us</a>
        </div>
    </div>
</div>