@model Product
@{
    ViewBag.Title ="Detail";
}

<h1>Product Detail</h1>
<table class="table table-bordered table-striped">
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
        </tr>
    <tr><td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr><td>Price</td>
        <td>@Model.Price.ToString("C2", Model.currency)</td>
    </tr>
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
<table class="tabla"></table>